[submodule "packages/cask"]
	path = packages/cask
	url = https://github.com/cask/cask.git
[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "packages/mu"]
	path = packages/mu
	url = https://github.com/djcb/mu.git
[submodule "packages/pycarddavel"]
	path = packages/pycarddavel
	url = git@github.com:DamienCassou/pycarddavel.git
[submodule "packages/beginend"]
	path = packages/beginend
	url = git@github.com:DamienCassou/beginend.git
