[submodule "packages/beginend"]
	path = packages/beginend
	url = https://DamienCassou@github.com/DamienCassou/beginend.git
[submodule "packages/auth-password-store"]
	path = packages/auth-password-store
	url = https://DamienCassou@github.com/DamienCassou/auth-password-store.git
[submodule "packages/profile"]
	path = packages/profile
	url = https://DamienCassou@github.com/DamienCassou/profile.git
[submodule "packages/shell-switcher"]
	path = packages/shell-switcher
	url = https://DamienCassou@github.com/DamienCassou/shell-switcher.git
[submodule "packages/unify-opening"]
	path = packages/unify-opening
	url = https://DamienCassou@github.com/DamienCassou/unify-opening.git
[submodule "packages/vdirel"]
	path = packages/vdirel
	url = https://DamienCassou@github.com/DamienCassou/vdirel.git
[submodule "packages/emacs-js"]
	path = packages/emacs-js
	url = https://DamienCassou@github.com/foretagsplatsen/emacs-js.git
[submodule "packages/ftgp"]
	path = packages/ftgp
	url = https://DamienCassou@petton.fr/git/ftgp/emacs.git
[submodule "packages/zerodark-theme"]
	path = packages/zerodark-theme
	url = https://DamienCassou@petton.fr/git/nico/zerodark-theme.git
[submodule "packages/yasnippet-snippets"]
	path = packages/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "packages/amd-mode"]
	path = packages/amd-mode
	url = https://DamienCassou@petton.fr/git/nico/amd-mode.el.git
[submodule "packages/gulp-task-runner"]
	path = packages/gulp-task-runner
	url = https://DamienCassou@petton.fr/git/nico/gulp-task-runner.git
[submodule "packages/jade"]
	path = packages/jade
	url = https://DamienCassou@petton.fr/git/nico/jade.git
[submodule "packages/org-caldav"]
	path = packages/org-caldav
	url = https://DamienCassou@github.com/DamienCassou/org-caldav.git
[submodule "packages/helm-projectile"]
	path = packages/helm-projectile
	url = https://DamienCassou@github.com/bbatsov/helm-projectile.git
