[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "packages/beginend"]
	path = packages/beginend
	url = https://DamienCassou@github.com/DamienCassou/beginend.git
[submodule "packages/org-caldav"]
	path = packages/org-caldav
	url = https://DamienCassou@github.com/DamienCassou/org-caldav.git
[submodule "packages/auth-password-store"]
	path = packages/auth-password-store
	url = https://DamienCassou@github.com/DamienCassou/auth-password-store.git
[submodule "packages/profile"]
	path = packages/profile
	url = https://DamienCassou@github.com/DamienCassou/profile.git
[submodule "packages/shell-switcher"]
	path = packages/shell-switcher
	url = https://DamienCassou@github.com/DamienCassou/shell-switcher.git
[submodule "packages/unify-opening"]
	path = packages/unify-opening
	url = https://DamienCassou@github.com/DamienCassou/unify-opening.git
[submodule "packages/vdirel"]
	path = packages/vdirel
	url = https://DamienCassou@github.com/DamienCassou/vdirel.git
[submodule "packages/emacs-js"]
	path = packages/emacs-js
	url = https://DamienCassou@github.com/foretagsplatsen/emacs-js.git
[submodule "packages/ftgp"]
	path = packages/ftgp
	url = https://DamienCassou@gitlab.com/ftgp/emacs.git
[submodule "packages/zerodark-theme"]
	path = packages/zerodark-theme
	url = https://DamienCassou@github.com/NicolasPetton/zerodark-theme.git
[submodule "packages/yasnippet-snippets"]
	path = packages/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
